.start-button{
border:1px solid #96f0ff; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:20px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: black;
 background-color: #cef8ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#cef8ff), to(#7fe0f8));
 background-image: -webkit-linear-gradient(top, #cef8ff, #7fe0f8);
 background-image: -moz-linear-gradient(top, #cef8ff, #7fe0f8);
 background-image: -ms-linear-gradient(top, #cef8ff, #7fe0f8);
 background-image: -o-linear-gradient(top, #cef8ff, #7fe0f8);
 background-image: linear-gradient(to bottom, #cef8ff, #7fe0f8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cef8ff, endColorstr=#7fe0f8);
}

.button_example:hover{
 border:1px solid #68e9ff;
 background-color: #9bf1ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#9bf1ff), to(#4fd4f5));
 background-image: -webkit-linear-gradient(top, #9bf1ff, #4fd4f5);
 background-image: -moz-linear-gradient(top, #9bf1ff, #4fd4f5);
 background-image: -ms-linear-gradient(top, #9bf1ff, #4fd4f5);
 background-image: -o-linear-gradient(top, #9bf1ff, #4fd4f5);
 background-image: linear-gradient(to bottom, #9bf1ff, #4fd4f5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9bf1ff, endColorstr=#4fd4f5);
 margin-left:auto;
 margin-right:auto;
}

.start-back
{
background: #b3dced; /* Old browsers */
background: -moz-linear-gradient(top,  #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3dced), color-stop(50%,#29b8e5), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */


}
.header
{
	text-align:center;
	font-size:30px;
	height:10%;
	background:#b3dced;
}
.footer
{
	text-align:center;
	height:5%;
	background:black;
	color:white;
}
